*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
.hidden {
    display: none;
}

.container {
    text-align: center;
}
h1 {
    margin-bottom: 2rem;
}

