*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: black;

}
.hidden {
    display: none;
}

.container {
    text-align: center;
}
h1 {
    font-size: 4rem;
    color: aliceblue;
}
a {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #0d6efd;
}

.custom-button {
    font-size: 1.5rem;
    border-radius: 16px;
    padding: 8px 64px;
}

#instructions{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 64px;
    gap: 24px;
    padding: 24px;
    color: aliceblue;
    border: 2px solid#0d6efd;
    border-radius: 16px;
}

.control-keys{
    margin-top: 16px;
    width: 75px;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 16px;
}

canvas{
    border: 3px solid aliceblue;
    border-radius: 2rem;
}

